# Configurações do Banco de Dados Postgres (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Rico@@76!!
POSTGRES_DB=painel_loa
POSTGRES_PORT=5432

# Portas da Aplicação e Ferramentas
APP_PORT=3000
ADMINER_PORT=8080

# Sincronização automática do schema Prisma na inicialização (true/false)
AUTO_DB_PUSH=true

# Para rodar a aplicação localmente fora do docker conectando ao Postgres do container:
# DATABASE_URL="postgresql://postgres:local_password@localhost:5432/painel_loa?schema=public"
